<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		</title>

	<!-- 부트스트랩 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<script>
	function openPayPop(){
	    var popup = window.open('/pay', '결제','width=700px,height=900px,scrollbars=yes');
	}

	function openCancelPayPop(){
			var popup = window.open('/cancelPay', '결제','width=700px,height=800px,scrollbars=yes');
	}

	function openGetPayPop(){
			var popup = window.open('/getPay', '결제','width=700px,height=800px,scrollbars=yes');
	}
	</script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
					<a class="navbar-brand" href="#" >PAYMENT</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<!-- <form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form> -->
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<!-- <h1>Hello, world!</h1>
			<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p> -->

	</div>
	<img src="https://user-images.githubusercontent.com/53510936/139194031-0fdc2b4f-126b-4440-892c-e9fb5b47527c.jpg"  height="600px" width="1150px"style="display : block ;
	margin : 0 auto ; max-width: 100%; ">
		</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>결제</h2>
				<p>카드 번호 , 유효 기간 , CVC , 할부 개월수 ,결제 금액 , 부가세를 설정하여 결제 처리 </p>
				<p><a class="btn btn-default" href="#" role="button" onclick="openPayPop()">Strat &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>결제 취소</h2>
				<p>결제 관리 번호 , 취소 금액 , 취소 부가세를 설정하여 결제 취소 처리</p>
				<p><a class="btn btn-default" href="#" role="button" onclick="openCancelPayPop()">Strat &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>결제 정보 조회</h2>
				<p>결제 관리 번호를 통한 정보 조회</p><br>
				<p><a class="btn btn-default" href="#" role="button" onclick="openGetPayPop()">Strat &raquo;</a></p>
			</div>
		</div>

		<hr>

		<footer>

		</footer>
	</div>
	<!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
