<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%= title %> 부트스트랩 101 템플릿</title>

	<!-- 부트스트랩 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- const options = {
  uri:'https://localhost:8080/pay',
  method: 'POST',
  body: {
    priority:'high',
    to : 'gg'
  }
  json:true
}
request.post(options, function(err,httpResponse,body){ //callback}) -->

<script>
function payfunc() {
	var queryString = $("form[name=payForm]").serialize() ;
	var payRequestData={
		"cardNum":$("#cardNum").val(),
		"expirationDate":$("#expirationDate").val(),
		"cvc":$("#cvc").val(),
		"installmentMonth": $("#installmentMonth").val(),
		"price":$("#price").val(),
		"vat":$("#vat").val()
	}
        $.ajax({
            url: "http://localhost:8080/pay",
            type: 'POST',
            data: JSON.stringify(payRequestData),
						contentType : "application/json",
            success: function (data) {
							  alert(data.responseMessage);
            },
            error: function (xhr, status) {
							alert(xhr.responseJSON.responseMessage);
            }
        });
      return false;
}

function getPayFunc() {

	   var payId=$("#payId").val();
        $.ajax({
            url: "http://localhost:8080/pay/"+payId,
            type: 'GET',
						dataType: "JSON",
            success: function (data) {

							  console.log(data.data);
							  alert(data.responseMessage);
            },
            error: function (xhr, status) {
							alert(xhr.responseJSON.responseMessage);
            }
        });
      return false;


}

function cancelPayFunc() {

	   // var payId=$("#payId").val();
		 	var cancelPayRequestData={
				"payId": $('#cancelPayId').val(),
				"cancelPrice": $('#cancelPrice').val(),
				"vat": $('#cancelVat').val()
			}
		 console.log($('#cancelPayId').val());


		 alert(payId);
        $.ajax({
            url: "http://localhost:8080/pay/cancel",
            type: 'POST',
						data: JSON.stringify(cancelPayRequestData),
						contentType : "application/json",
            success: function (data) {
							alert(data.)
							  console.log(data.data);

            },
            error: function (xhr, status) {
							alert(xhr.responseJSON.responseMessage);
            }
        });
      return false;


}


</script>
</head>

<body>


			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Pay</a>
			</div>
			<form name="payForm" id="payForm" onsubmit="return payfunc()">
				<input type="text" id="cardNum" placeholder="카드번호" class="form-control" pattern="[0-9]{10,16}" required>
      	<input type="text" id="expirationDate" placeholder="유효기간" class="form-control" pattern="[0-9]{4}" required>
				<input type="text" id="cvc" placeholder="cvc" class="form-control" pattern="[0-9]{3}" required>
				<input type="number" id="installmentMonth" placeholder="할부개월수" class="form-control" min="0" max="12" required>
				<input type="number" id="price" placeholder="결제 금액" class="form-control" min="100" max="1000000000" required>
				<input type="text" id="vat" placeholder="결제 부가세" class="form-control">

		  	<button type="submit" id="payBtn"  class="btn btn-success">결제</button>

     	</form>


			<form name="cancelPayForm" id="cancelPayForm" onsubmit="return cancelPayFunc()">
				<input type="text" id="cancelPayId" name="cancelPayId" placeholder="payId" class="form-control" required>
				<input type="number" id="cancelPrice" placeholder="취소 금액" class="form-control"  required>
				<input type="number" id="cancelVat" placeholder="취소 부가세" class="form-control">


				<button type="submit" id="cancelPayBtn"  class="btn btn-success">결제 취소</button>

			</form>





			<form name="getPayForm" id="getPayForm" onsubmit="return getPayFunc()">

				<input type="text" id="payId" placeholder="payId" class="form-control" required>

		  	<button type="submit" id="getPayBtn" class="btn btn-success">조회</button>

     	</form>
			<!--/.navbar-collapse -->











	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>Hello, world!</h1>
			<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
		</div>
	</div>


	<!-- /container -->
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
